[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "gstreamer"]
	path = 3rdparty/gstreamer
	url = https://github.com/GStreamer/gstreamer.git
